extends layout

block content
  h1 Connect your health data
    br
    
    div.container
      p
        button#connect-health-data-btn
          img(src='https://connect.humanapi.co/assets/button/blue.png')
  
