doctype html
html
  head
    title TrendHealth
    
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href='/') TrendHealth
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            if user
              li
                a(href='/articles/add') Add Article
          ul.nav.navbar-nav.navbar-right
            if user
              li 
                a(href='/users/logout') Logout
            else
              li
                a(href='/users/register') Register
              li
                a(href='/users/login') Login
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
          p Copyright. &copy; 2018. TrendHealth, Inc.
